name: Unit testing

on: push

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'
    - run: dotnet test 